<%- include("header") %>
<body>
    <div class="login-block">
    <%- include("nav") %>
        <div class="login-container">
            <section class="login" id="login">
            <header>
                <h2>MeetDoctor</h2>
                <h3>Sign Up</h3>
                <h4 style="color:red"><%=error%></h4>
            </header>
            <form class="login-form" method="post">
                <input type="text" class="login-input" placeholder="User" name="login" required autofocus/>
                <input type="email" class="login-input" placeholder="Email" name="email" required/>
                <input type="password" class="login-input" placeholder="Password" name="password" required/>
                <input type="fName" class="login-input" placeholder="First Name" name="fName" required/>
                <input type="lName" class="login-input" placeholder="Last Name" name="lName" required/>
                <select name="role"  class="login-input">
                    <option  class="login-input" value="Doctor">Doctor</option>
                    <option class="login-input" value="Patient">Patient</option>      
                </select>
                <div class="submit-container">
                <button type="submit" class="login-button">SIGN UP</button>
                </div>
            </form>
            </section>
        </div>
    </div>
</body>
</html>