.btn,
btn:visited
{
  text-decoration: none;
  background-color:#333;
  color: white;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.btn:active
{
  background: #3FC1C9;
}

.main-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu
{
    width: 60vw;
    border: 1px solid rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    padding: 50px;
}

.flex-outer
{
  list-style-type: none;
  padding: 0;
}

.flex-outer 
{
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) 
{
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p 
{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p 
{
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *{
  flex: 1 0 220px;
}

.flex-outer li p 
{
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea,
.flex-outer li select
{
  padding: 15px;
  border: none;
  font-size: 18px;
}

.flex-outer li button 
{
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  font-size: 18px;
}

.flex-outer li button:hover
{
  background: rgb(73, 73, 73);
}
  
.flex-outer li button:active
{
    background: #3FC1C9;
}

.main
{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main a 
{
  text-decoration: none;
  color: black;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.user-container
{
  display: grid;
  grid-template-columns: 35% 35% 30% ;
  padding: 15px 30px;
  background-color: white;
  margin-top: 10px;
  width: 100vw;
  max-width: 900px;
  border: 1px solid rgb(104, 99, 99);
  border-radius: 5px;
}

.user-container .loginP,
.titleP
{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.adminPanelP
{
  font-size:9px;
}

.user-container .fname,
.durationP
{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.user-container .lname,
.dateP
{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.hostP
{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.main-training
{
  margin-top: 40px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-training a 
{
  text-decoration: none;
  color: black;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}


.training-container
{
  display: grid;
  grid-template-columns: 40% 10% 20% 30%;
  padding: 15px 30px;
  background-color: white;
  margin-top: 10px;
  width: 100vw;
  max-width: 900px;
  border: 1px solid rgb(104, 99, 99);
  border-radius: 5px;
}

.admin-menu
{
  margin-top: 100px;
  display: flex;
  justify-content: right;
}

.admin-menu button
{
  margin-right: 30px;
}

.home-main
{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.details-main
{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.cards-wrapper
{
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-between;
  grid-gap: 20px;
  margin-top: 100px;
  width: 90%;
  max-width: 1200px;
}

.card.doctor
{
  height: 200px;
  border: solid black 1px;
  border-radius: 1rem;
  transition: ease-in .1s;
  margin: 50px 0px;
}

.card.doctor.details
{
  height: 120px;
  width: 500px;
  border: solid black 1px;
  border-radius: 1rem;
  transition: ease-in .1s;
  margin-top: 100px;
}

.card.doctor:hover
{
  transform: scale(1.05);
}

.card-data-wrapper
{
  width: 100%;
  height: 70%;
  display: inline-block;
  position: relative;
}

.info-wrapper
{
  display: inline-block;
}

.info-wrapper p
{
  width: 100%;
  margin:10px 0px;
  display: block;
}

.image-wrapper
{
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 15px 10px 10px 15px;
}

.image-wrapper img
{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.card-button-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.card.doctor .card-button-wrapper a,
.card.doctor .card-button-wrapper a:active,
.card.doctor .card-button-wrapper a:visited
{
  width: 80%;
  height: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.doctor .card-button-wrapper a:hover
{
  background-color: #333;
  color: white;
}

